header {
  height: 575px;
  background: url("http://placekitten.com/1500/600");
  position: relative;
}

header::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: #10569b;
  opacity: 0.9;
  z-index: 1;
}

.logo {
  height: 50px;
  width: 20.2%;
  max-width: 280px;
  margin-left: 11%;
  display: inline-block;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

.logo img {
  float: left;
  border-radius: 50%;
}

.logo h5 {
  float: left;
  margin-top: 12px;
  font-size: 17.4px;
  margin-left: 13px;
  font-family: "Open Sans"
}

.logo::after {
  content:"";
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  font-size: 1.2em;
  font-family: Oswald;
  color: #000;
  opacity: 0.6;
}

.article-details .aut-img {
  margin-left: 1%;
  margin-right: 1%;
}

.top-navigation {
  position: relative;
  z-index: 2;
  padding-right: 10.2%;
  float: right;
  margin-top: 20px;
}

.top-navigation ul {
  display: inline;
  margin-right: 11%;
}

.top-navigation li {
  margin-right: 10px;
}

.top-navigation a {
  text-decoration: none;
  color: #000;
  margin-left: 8px;
}

.top-navigation img {
  height: 20px;
  width: 20px;
  opacity: 0.8;
}

.top-navigation::after {
  content:"";
  clear:both;
}

h2, h3, h4, h5 {
  font-family: Oswald;
}

h1 {
  font-size: 7em;
  text-align: center;
  padding-top: 10.2%;
  letter-spacing: -3px;
  margin: 0;
  font-family: "Open Sans";
  color: #fff;
  position: relative;
  z-index: 2;
}

.subheading {
  text-align: center;
  font-size: 18px;
  letter-spacing: .4px;
  margin: 0;
  top: -18px;
  right: 4px;
  position: relative;
  font-family: "Open Sans";
  position: relative;
  z-index: 2;
}

h2 {
  margin-top: 3.2%;
  margin-bottom: 0;
  font-size: 4.25em;
  line-height: 1.15em;
}

.post {
  width: 47%;
  margin-left: 12.5%;
  float: left;
}

.article-details {
  margin-top: 1%;
}

.article-details img {
  margin-left: 1%;
}

.name {
  font-size: 15px;
  font-family: "Open Sans";
  color: #2e7dba;
  margin-right: 1%;
}

.date {
  font-size: 15px;
  font-family: "Open Sans";
  color: gray;
  width: 300px;
}

.sidebar {
  width: 22%;
  margin-right: 10.5%;
  margin-top: 3%;
  margin-left: 7.2%;
  float: left;
  padding: 0;
}

.sidebar::after {
  content: "";
  clear: both;
}

.paragraph1 {
  margin-top: 5%;
}

p {
  line-height: 1.7em;
  margin-top: 4%;
  font-size: 1.1em;
  font-family: "Open Sans";
}

button {
  margin: 1px 4px 4px 4px;
  border: none;
}

.comments {
  height: 33px;
  width: 26%;
}

.later {
  height: 33px;
  width: 21%;
}

.share {
  height: 33px;
  width: 25.5%;
}

h3 {
  margin: 4.3% 0 0 1.2%;
  border-left: 3px solid #d3d3d3;
  padding: 1% 20px 1%;
  font-family: "Open Sans";
  font-size: 1.85em;
  color: #2e7dba;
}

aside .aut-img {
  height: 100px;
  width: 100px;
  background: url("http://placekitten.com/100/100");
  border-radius: 50%;
  margin: 0 auto;
}

h4 {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0;
  font-family: "Open Sans";
}

.social-links {
  text-align: center;
}

.social-links a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 0.78em;
  color: gray;
}

.social-links li {
  padding-right: 3px;
  padding-left: 1px;
  line-height: 1em;
}

.break {
  font-size: 1em;
  color: gray;
  opacity: 0.1;
}

.ad-image {
  background: blue;
  height: 330px;
  width: 304px;
  margin-top: 18%;
  margin-right: auto;
  margin-left: auto;
}

.ad-link {
  float: right;
  margin-right: 2%;
  margin-top: 3%;
}

.ad-link::after {
  content:"";
  clear: both;
}

.sidebar-heading {
  display: inline-block;
  font-size: 1.3em;
  border: none;
  margin-top: 14%;
}

.popular-posts h2 {
  text-align: center;
}

.preview {
  height: 379px;
  width: 379px;
  background: blue;
  border: 3px solid black;
  float: left;
  margin: 0;
}

.popular-posts::after {
  content: "";
  clear: both;
}

.tiy-logo {
  height: 50px;
  width: 200px;
  background: blue;
  float: left;
}

.tiy-logo::after {
  content:"";
  clear: both;
}

.nav-items {
  float: right;
}

footer {
  padding: 5%;
}
