header {
  height: 575px;
  background: url("http://placekitten.com/1500/600");
  position: relative;
  z-index: 2;
}

header::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: #10569b;
  opacity: 0.9;
}

.logo {
  height: 50px;
  width: 20.2%;
  max-width: 280px;
  margin-left: 11%;
  display: inline-block;
  margin-top: 10px;
  overflow: hidden;
}

.logo img {
  float: left;
  border-radius: 50%;
  opacity: 0.9;
}

.logo h5 {
  float: left;
  margin-top: 12px;
  font-size: 17.4px;
  margin-left: 13px;
  font-family: "Open Sans"
}

.logo::after {
  content:"";
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  font-size: 1.2em;
  font-family: Oswald;
  color: #000;
  opacity: 0.6;
}

.top-navigation ul {
  display: inline;
  margin-right: 11%;
}

.top-navigation li {
  margin-right: 10px;
}

.top-navigation a {
  text-decoration: none;
  color: #000;
  margin-left: 5px;
  opacity: 0.9;
}

.top-navigation img {
  height: 20px;
  width: 20px;
  opacity: 0.8;
}

.top-navigation {
  padding-right: 9.2%;
  float: right;
  margin-top: 20px;
}

.top-navigation::after {
  content:"";
  clear:both;
}

h2, h3, h4, h5 {
  font-family: Oswald;
}

h1 {
  font-size: 7em;
  text-align: center;
  padding-top: 10.2%;
  letter-spacing: -2px;
  margin: 0;
  font-family: "Open Sans";
  color: #fff;
  opacity: 0.9;
}

h5 {
  text-align: center;
  font-size: 18px;
  letter-spacing: .4px;
  margin: 0;
  top: -18px;
  right: 4px;
  position: relative;
  font-family: "Open Sans";
  opacity: 0.4;
}

h2 {
  margin-top: 9.5%;
  margin-bottom: 0;
  font-size: 4.25em;
  line-height: 1.15em;
}

section {
  overflow: hidden;
}

.post {
  width: 50%;
  margin-left: 12.5%;
  float: left;
}

.article-details {
  margin-top: 1%;
}

.article-details img {
  margin-left: 1%;
}

.name {
  font-size: 15px;
  font-family: "Open Sans";
  color: #10569b;
  margin-right: 1%;
}

.date {
  font-size: 15px;
  margin-left: 1%;
  font-family: "Open Sans";
  color: gray;
  width: 150px;
}

.sidebar {
  width: 25%;
  margin-right: 12.5%;
  margin-top: 6%;
  float: left;
}

.sidebar::after {
  content: "";
  clear: both;
}

p {
  line-height: 1.7em;
  margin-top: 5%;
  font-size: 1.1em;
}

h3 {
  margin: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  font-size: 1.75em;
}

aside .aut-img {
  height: 100px;
  width: 100px;
  background: blue;
  margin: 0 auto;
}

h4 {
  text-align: center;
}

.social-links {
  text-align: center;
}

.ad-image {
  background: blue;
  height: 330px;
  width: 307px;
  margin-top: 7%;
  margin-right: auto;
  margin-left: auto;
}

.ad-link {
  float: right;
  margin-right: 22%;
  margin-top: 2%;
}

.ad-link::after {
  content:"";
  clear: both;
}

.sidebar-heading {
  display: inline-block;
  font-size: 1.3em;
  border: none;
  margin-top: 14%;
}

.popular-posts h2 {
  text-align: center;
  overflow: hidden;
}

.preview {
  height: 379px;
  width: 379px;
  background: blue;
  border: 3px solid black;
  float: left;
  margin: 0;
}

.popular-posts {
  overflow: hidden;
}

.popular-posts::after {
  content: "";
  clear: both;
}

.tiy-logo {
  height: 50px;
  width: 200px;
  background: blue;
  float: left;
}

.tiy-logo::after {
  content:"";
  clear: both;
}

.nav-items {
  float: right;
}

footer {
  padding: 5%;
}
